<!-- <div class="content" role="main">
XD
</div> -->

<div class="parent">
  <div class="col col1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis dapibus
    metus. Sed vel mollis lorem. Duis sollicitudin tellus non massa varius
    faucibus. Cras id dolor ut tellus tincidunt blandit porttitor at eros.
  </div>
  <div class="col col2">
    Aliquam sed accumsan diam. Suspendisse ac lobortis eros. Integer laoreet et
    velit vel fermentum. In nulla dui, sagittis varius congue sed, lacinia at
    sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada
    fames ac turpis egestas.
    <div class="button-container">
      <button
        class="button-style"
        (click)="loadData()"
        label="Call API with Interception to add a Header"
      >
        Get Random Number
      </button>
    </div>
  </div>
  <div class="col col3">
    In non nibh volutpat, dignissim mi sed, sagittis augue. In id dictum libero.
    Vestibulum sodales, augue vel sollicitudin volutpat, nisl orci imperdiet
    mauris, eget ultricies turpis dui porttitor dolor.
  </div>
</div>

<router-outlet></router-outlet>
